* {
    margin: 0%;
    padding: 0%;
    font-family: 'Quicksand';
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centeredTitle {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 5em;
}

.above {
    position: absolute;
    top: 75%;
    left: 40%;
}

.foodDesc {
    position: relative;
    left: 38%;
}


.containP {
    position: relative;
    left: 20%;
    width: 60%;
}

.text {
    font-size: 1.5em;
    text-align: justify;

}

.hrLine {
    width: 50%;
    position: relative;
    left: 30%;
}

h2{
    background-color: rgb(218, 191, 147);
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
}